version: '2'

services:
  pgsql-docker-container:
    image: postgres:alpine
    restart: always
    environment:
      - POSTGRES_PASSWORD=root123
      - POSTGRES_USER=fhirform # DB name defaults to POSTGRES_USER
    networks:
      - overlay
    volumes:
      - ./data:/docker-entrypoint-initdb.d # import cdm.sql file (You can put in *.sh, *.sql, or *.sql.gz files and it will take care of executing those on start-up.)
#    volumes_from:
#      - /data/pgsql
  ff-ohdsi:
    image: ff-ohdsi:2.0
    build: .
    networks:
      - overlay
    depends_on:
      - pgsql-docker-container
    ports:
      - 8080:8080
#    volumes:
#      - /data/ff-ohdsi
  broadsea-methods-library:
    image: ohdsi/broadsea-methodslibrary
    ports:
      - 8787:8787
      - 6311:6311
    depends_on:
      - pgsql-docker-container
    networks:
      - overlay
  broadsea-webtools:
    image: ohdsi/broadsea-webtools
    ports:
      - 8077:8080
    depends_on:
       - pgsql-docker-container
    volumes:
#      - .:/tmp/drivers/:ro
      - ./data/config-local.js:/usr/local/tomcat/webapps/atlas/js/config-local.js
    environment:
      - WEBAPI_URL=http://summary.nuchange.ca  # TODO: Change this
      - env=webapi-postgresql
      - datasource_driverClassName=org.postgresql.Driver
      - datasource_url=jdbc:postgresql://pgsql-docker-container:5432/fhirform
      - datasource.cdm.schema=cdm
      - datasource.ohdsi.schema=ohdsi
      - datasource_username=fhirform
      - datasource_password=root123
      - spring.jpa.properties.hibernate.default_schema=ohdsi
      - spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
      - spring.batch.repository.tableprefix=ohdsi.BATCH_
      - flyway_datasource_driverClassName=org.postgresql.Driver
      - flyway_datasource_url=jdbc:postgresql://pgsql-docker-container:5432/fhirform
      - flyway_schemas=ohdsi
      - flyway.placeholders.ohdsiSchema=ohdsi
      - flyway_datasource_username=fhirform
      - flyway_datasource_password=root123
      - flyway.locations=classpath:db/migration/postgresql
    networks:
      - overlay
networks:
  overlay:
